<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Web Page</title>
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
    <div class="container">
        <h3>Welcome to My Static Web Page</h3>
        <div>
            <p>This is a simple static web page created with HTML, CSS, and optionally JavaScript.</p>
            <p>You can add more content here, such as images, links, lists, etc.</p>

        </div>
        <footer>
            <hr>
            <p>&copy; 2024 Priyobrato.Das</p>
        </footer>
    </div>

</body>

</html>